body{
  display: block;
  margin: 0px;
}

hr{
  width: 70%;
}

.active{
  display: block;
}

.inactive{
  display: none;
}

.mess{
  position: relative;
  font-size: 30px;
  color: white;
  top:200px;
  left:100px;

}

.global{
  margin: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  font-family: 'Lato', sans-serif, Arial,Calibri ;
  -webkit-font-smoothing: antialiased;
	font-size: 18px;
	text-decoration: none;
  display: block;
}

.header{
  background-color: black;
  position: relative;
  display: block;
  width: 100%;
  height: 400px;
  margin: 0px;
  box-sizing: border-box;
}

.banner{
  display: block;
  content: " ";
  background-color: blue;
  height: 100px;
  width: 100%;
  position: relative;
  top: 0px;
}

/* définition des éléments du menu */
.menu{
  display: block;
  position: relative;
  text-align: center;
  background-color: white;
  width: 100%;
  top: 100px;
  z-index: 1;
}

.menu ul{
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu li{
  display: inline;
  padding: 10px;
  list-style: none;
}

.menu li a{
  padding-left: 10px;
}


/* défintion du corps de page */
.main{
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  content: " ";
  height: auto;
  z-index: 100;
  background-color: white;
}

.horiz-layout{
  display: block;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  height: auto;
  overflow: hidden;
  box-shadow: 0 6px 16px -7px gray;

}

.speech{
  font-size: 20px;
  position: relative;
  height: 200px;
  width: 500px;
  text-align: center;
  /*border-width: 1px;
  border-color: grey;
  border-style: solid;*/
}

/* Définition des élements encart */
.encart{
  width: 300px;
  height: 200px;
  border: solid;
  border-color: grey;
  border-width: thin;
}

.text-encart{
  height:135px;
  width: 100%;
  text-align: center;
  border: solid;
  border-color: grey;
  border-width: thin;

}

.img-encart{
  display: block;
  position: relative;
  width: 100%;
  height: 65px;
}

.img-encart img{
  width: 100%;
  height: 100%;
}

.img-encart button{
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 60px;
}

/* Positionnement float */
.on-right{
  float : right;
  margin-right: 15%;

}

.on-left{
  float : left;
  margin-left: 15%;
}

/* definition du footer */
.footer{
  position: relative;
  height: 100px;
  width: 100%;
}
